<div style="float: left;width: 50%;">
  <h2>{{ title }}</h2>
  <h3 [ngStyle]="{'color': playerTurn}">{{ playerTurn }}'s turn</h3>
  <div>
    <p *ngFor="let row of board;let i = index">
      <span 
      *ngFor="let piece of row;let j = index" 
      (click)="onPieceClick(piece, i, j)"
      [ngStyle]="{ 
        'border': clickedCurrentPos ? '2px dotted green' : '2px dotted red',
        'background-color': (piece === -1) ? 'red': (piece === 1) ? 'black' : (piece === -3) ? 'darkred' : (piece === 3) ? 'grey' : 'white' 
      }"></span>
      </p>
  </div>
</div>

<div style="float: left;width: 50%;">
  <p>Black checkers remaining: {{ blackCheckersRemaining.length }}</p>
  <p>Red checkers remaining: {{ redCheckersRemaining.length }}</p>
</div>